
@{
    Layout = null;
}

<div class="list-group">
    @Html.ActionLink("Manage Books", "Index", "Book", new { }, new { @class= "list-group-item" })
    @Html.ActionLink("Manage Tags", "Index", "Tag", new { }, new { @class= "list-group-item" })
</div>
